<h1>Movie page</h1>

<div class="movie-poster">
  <img src="{{this.Poster}}" alt="poster for {{this.Title}}">
</div>
<div class="movie-details">
  <h3>{{this.Title}}</h3>
  <p><strong>Released</strong> in {{this.Year}} and <strong>directed</strong> by {{this.Director}}</p>
  <p><strong>Duration</strong>: {{this.Runtime}}</p>
  <p><strong>Rate</strong>: {{this.imdbRating}}</p>
  <p><strong>Genre</strong>: {{this.Genre}}</p>
  <p><strong>Actors</strong>: {{this.Actors}}</p>
  <p><strong>Plot</strong>: {{this.Plot}}</p>
  <p><strong>Language</strong>: {{this.Language}}</p>
  <p><strong>Country</strong>: {{this.Country}}</p>
  <p><strong>Awards</strong>: {{this.Awards}}</p>
</div>